@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Slab:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding:0;
  font-family: "Oswald", sans-serif;
}


*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}


.scrollTÐ¾Bottom{
   bottom: 0;
   animation: moveFromBottomToTop 1s ease-in-out infinite;
}


@keyframes moveFromBottomToTop {
  0% {
    transform: translateY(-1.5rem);
  }
  25% {
    transform: translateY(-1.3rem);
  }
  50%{
    transform: translateY(-1.5rem);
  }
  75% {
    transform: translateY(-1.7rem);
  }
  100%{
    transform: translateY(-1.5rem);
  }
}