@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Slab:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding:0;
  font-family: "Oswald", sans-serif;
}


*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}


.scrollTоBottom{
   bottom: 0;
   animation: moveFromBottomToTop 1s ease-in-out infinite;
}
input:focus, textarea:focus input:focus-visible, textarea:focus-visible {
  border-color: black !important;
  box-shadow: none !important;
  outline: none;
}

textarea{
  resize: none !important;
}


input:checked{
  color: red;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

.scrollNew::-webkit-scrollbar {
  width: 3px;
  border-radius: 4px;
}

.scrollNew::-webkit-scrollbar-thumb {
  background: #000000;
}

@keyframes moveFromBottomToTop {
  0% {
    transform: translateY(-1.5rem);
  }
  25% {
    transform: translateY(-1.3rem);
  }
  50%{
    transform: translateY(-1.5rem);
  }
  75% {
    transform: translateY(-1.7rem);
  }
  100%{
    transform: translateY(-1.5rem);
  }
}


p {
  max-width: 100%; /* Ensure the p tag does not extend beyond the viewport */
  word-wrap: break-word; /* Allow long words to be broken */
  overflow-wrap: break-word; /* Modern equivalent of word-wrap */
}